@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}
.font-dm-sans {
  font-family: var(--font-dm-sans), sans-serif;
}
.font-urbanist {
  font-family: var(--font-urbanist), sans-serif;
}
.font-inter {
  font-family: var(--font-inter), sans-serif;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-dm-sans), var(--font-urbanist), var(--font-inter),
    Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.phone-input-container {
  width: 100% !important;
}

.phone-input-container > div {
  width: 100% !important;
}

.phone-input-container input {
  width: 100% !important;
}
.phone-wrapper {
  width: 100%;
}

.phone-wrapper .react-tel-input {
  width: 100% !important;
}

.phone-wrapper .form-control {
  width: 100% !important;
  box-sizing: border-box;
}
.custom-radio-group .ant-radio-wrapper {
  display: flex;
  flex-direction: row-reverse; /* Reverse the order: radio button to the right */
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border-top: 1px solid #e5e7eb;
  border-radius: 8px;
  transition: border-color 0.3s, box-shadow 0.3s;
  font-size: 14px;
  color: #0f161c;
}
